* {
    box-sizing: border-box;
}

html {
    color-scheme: light dark;
    font-family: "Montserrat", sans-serif, system-ui;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.app {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    min-width: 100%;
    min-height: 100%;
    color: var(--color);
    font-size: 16px;
}
.app[data-theme="light"] {
    --theme-color: gold;
    --other-theme-color: gray;
    --bg-color: white;
    --header-color: dimgray;
    --header-hover-color: lightgray;
    --header-active-color: lightskyblue;
    --decoration-color: antiquewhite;
    --decoration-hover-color: #fbdaa1;
    --inactive-color: burlywood;
    --hover-color: lightsalmon;
    --active-color: salmon;
    --color: black;
    --border-color: lightgray;
}
.app[data-theme="dark"] {
    --theme-color: gray;
    --other-theme-color: gold;
    --bg-color: black;
    --header-color: lightgray;
    --header-hover-color: gray;
    --header-active-color: deepskyblue;
    --decoration-color: rebeccapurple;
    --decoration-hover-color: mediumpurple;
    --inactive-color: burlywood;
    --hover-color: lightsalmon;
    --active-color: salmon;
    --color: white;
    --border-color: slategray;
}

.app-header {
    position: sticky;
    width: 100%;
    padding: 10px;
    border-bottom: 2px solid var(--border-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.app-header button {
    font: inherit;
}

.app-header .app-header-links {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.app-header .app-header-links button {
    background: none;
    padding: 10px;
    border: none;
    border-radius: 3px;
    color: var(--header-color);
    cursor: pointer;
    transition: transform 100ms;
}
.app-header .app-header-links button:hover {
    background-color: var(--header-hover-color);
}
.app-header .app-header-links button:active {
    background-color: var(--header-hover-color);
    transform: scale(0.95);
}
.app-header .app-header-links button.active {
    background-color: var(--header-active-color);
}

.app-header button.theme-toggle {
    background-color: var(--bg-color);
    border-color: var(--theme-color);
    color: var(--theme-color);
}
.app-header button.theme-toggle:hover, .app-header button.theme-toggle:active {
    border-color: var(--other-theme-color);
    color: var(--other-theme-color);
}

.app-body {
    padding: 10px 20px;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
}