#introduction .content {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
@media screen and (width < 650px) {
    #introduction .content {
        flex-direction: column;
    }
}
#introduction .text > header {
    font-size: larger;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.profile > .pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.profile > .pic > * {
    width: 100%;
    height: 100%;
    clip-path: circle(45%);
}
.profile > .socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    font-size: 22px;
}

#skills .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#skills header {
    margin-bottom: 10px;
    text-decoration: underline;
}
.app[data-theme="light"] #skills .high {
    --decoration-color: lightgreen;
    --decoration-hover-color: darkseagreen;
}
.app[data-theme="dark"] #skills .high {
    --decoration-color: darkgreen;
    --decoration-hover-color: darkseagreen;
}
.app[data-theme="light"] #skills .medium {
    --decoration-color: lightblue;
    --decoration-hover-color: skyblue;
}
.app[data-theme="dark"] #skills .medium {
    --decoration-color:royalblue;
    --decoration-hover-color: skyblue;
}